body{
    background-image: url("img/bnb1.jpg");
}

h1 {
    color: red;
    text-align: center;
    background-color: black;
}

h3 {
    color: red;
    text-align: center;
    background-color: black;
}